<% 
  var body = curInfo
%>
<% if (body) { %>
<div class="book-body">
      <div class="body-inner">
        <div class="page-wrapper" tabindex="-1" role="main">
          <div class="page-inner">
            <div id="book-search-results">
              <div class="search-noresults">
                <section class="normal markdown-section">
                  <h1><%= body.category_name %></h1>
                  <h3><%= body.title %></h3>
                  <p><%= JSON.parse(body.content).method %> : <%= JSON.parse(body.content).api %></p>
                  <!-- <table>
                    <thead>
                      <tr>
                        <th>参数名称</th>
                        <th>类型</th>
                        <th>是否必填</th>
                        <th>描述</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="https://developers.weixin.qq.com/miniprogram/dev/framework/config.html#pages">channelType</a></td>
                        <td>Number</td>
                        <td>是</td>
                        <td>商户类型</td>
                      </tr>
                      <tr>
                        <td><a href="https://developers.weixin.qq.com/miniprogram/dev/framework/config.html#window">code</a></td>
                        <td>String</td>
                        <td>是</td>
                        <td>微信code</td>
                      </tr>
                      <tr>
                        <td><a href="https://developers.weixin.qq.com/miniprogram/dev/framework/config.html#tabbar">mobile</a></td>
                        <td>String</td>
                        <td>是</td>
                        <td>手机</td>
                      </tr>
                    </tbody>
                  </table> -->
                  
                  <p><strong>入参示例：</strong></p>
                  <%- body.api_import %>

                  <br>
                  <p><strong>出参示例：</strong></p>
                  <%- body.api_export %>
                </section>




              </div>
              <!-- <div class="search-results">
                <div class="has-results">
                  <h1 class="search-results-title">
                    <span class="search-results-count"></span> 个结果 "<span class="search-query"></span>"
                  </h1>
                  <ul class="search-results-list"></ul>
                </div>
                <div class="no-results">
                  <h1 class="search-results-title">
                    没有找到相关内容 "<span class="search-query"></span>"
                  </h1>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <% include footer.ejs %>
      </div>




      <!-- <a href="https://developers.weixin.qq.com/miniprogram/dev/framework/MINA.html" class="navigation navigation-next navigation-unique"
        aria-label="下一页: 框架" style="margin-right: 6px;">
        <i class="fa fa-angle-right"></i>
      </a> -->



    </div>

    <% } %>